<div ng-controller="ContactsAddController as ctrl">

    <form class="pure-form pure-form-aligned"
    novalidate name="addForm" ng-submit="ctrl.addContact(newContact)">
        <fieldset>
            <div class="pure-control-group">
                <label for="firstName">First Name</label>
                <input id="firstName" placeholder="First Name"
                type="text" required ng-model="newContact.firstName"
                ng-minlength="2"/>
            </div>

            <div class="pure-control-group">
                <label for="lastName">Last Name</label>
                <input id="lastName" placeholder="Last Name" type="text" required ng-model="newContact.lastName"/>
            </div>

            <div class="pure-control-group">
                <label for="email">Email</label>
                <input id="email" placeholder="Emailaddress" type="email" required ng-model="newContact.email"/>
            </div>

            <div class="pure-controls">
                <button type="submit" class="button pure-button pure-button-primary"
                ng-disabled="addForm.$invalid">Add Contact</button>
            </div>
        </fieldset>
    </form>
</div>
